<script type="text/javascript">
  window.conflictlogoURL = "<%= image_url("conflict-logo.png") %>"
  window.triangleURL = "<%= image_url("discord-triangle.svg") %>";
  window.brentURL = "<%= image_url('Discord-Logo-White.png') %>";
  window.bombURL = "<%= image_url('discord-bomb.svg') %>";
  window.coinURL = "<%= image_url("discord-coin.svg") %>";
  window.squareURL = "<%= image_url("discord-square.svg") %>";
  window.dotURL = "<%= image_url("discord-dot.svg") %>";
  window.circleURL = "<%= image_url("discord-circle.svg") %>";
  window.crossURL = "<%= image_url("discord-cross.svg") %>";
  window.potionURL = "<%= image_url("discord-potion.svg") %>";
  window.cartridgeURL = "<%= image_url("discord-cartridge.svg") %>";
  window.shieldURL = "<%= image_url("discord-shield.svg") %>";
  window.blockURL = "<%= image_url("discord-mario-block.svg") %>";
  window.monitorURL = "<%= image_url("discord-monitor.svg") %>";
  window.androidURL = "<%= image_url("discord-android.svg") %>";
  window.iphoneURL = "<%= image_url("discord-iphone.svg") %>";
  window.controllerURL = "<%= image_url("discord-controller.svg") %>";
  window.laptopURL = "<%= image_url("discord-laptop.svg") %>";
  window.headphonesURL = "<%= image_url("discord-headphones.svg") %>";
  window.diabloURL = "<%= image_url("diablo3-background.jpeg") %>";
  window.lolURL = "<%= image_url("league_of_legends.png")%>";
  window.darksoulsURL = "<%= image_url("darksouls.jpeg") %>";
  window.lastofusURL = "<%= image_url("lastofus.jpeg") %>"
  window.forzaURL = "<%= image_url("forza.png") %>";
  window.wumpusURL = "<%= image_url("wumpus.jpeg") %>";
  window.battlefieldURL = "<%= image_url("battlefield.jpg") %>"
</script>
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root">
    <h1>You should NOT be seeing this</h1>
</main>