<script type="text/javascript">
  window.triangleURL = "<%= image_url("discord-triangle.svg") %>";
  window.brentURL = "<%= image_url('Discord-Logo-White.png') %>";
  window.bombURL = "<%= image_url('discord-bomb.svg') %>";
  window.coinURL = "<%= image_url("discord-coin.svg") %>";
  window.squareURL = "<%= image_url("discord-square.svg") %>";
  window.dotURL = "<%= image_url("discord-dot.svg") %>";
</script>
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root">
    <h1>You should NOT be seeing this</h1>
</main>