<!DOCTYPE html>
<html>
  <head>
    <title>Conflict</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script
      src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"
      data-auto-a11y="true"
    ></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
